<%= form_with(model: plant) do |form| %>
  <% if plant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plant.errors.count, "error") %> prohibited this plant from being saved:</h2>
      <ul>
      <% plant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <%= link_to "Back", plants_path, class: "btn btn-info" %>
    <div class="row">
      <div class="col">
      </div>

      <div class="col">
        <div class="form-group" id="new-plant-data-entry">
          <p><strong>Latin Name:</strong></p>
          <%= form.text_field :latin_name, placeholder: "Latin Name", autofocus: true, class: 'form-control' %>
        </div>

        <div class="form-group" id="new-plant-data-entry">
          <p><strong>Common Name:</strong></p>
          <%= form.text_field :common_name, placeholder: "Common Name", class: 'form-control' %>
        </div>

        <div class="form-group" id="new-plant-data-entry">
          <p><strong>Gardens:</strong></p>
          <%= form.collection_select :garden_ids, Garden.all, :id, :name, {}, {multiple: true} %>
        </div>

        <div class="form-group" id="new-plant-data-entry">
          <p><strong>Notes:</strong></p>
          <%= form.text_area :notes, placeholder: "Notes", class: 'form-control' %>
        </div>

        <div class="form-group" id="new-plant-data-entry">
          <p><strong>Upload an Image:</strong></p>
          <%= form.file_field :image %>
        </div>

        <%= form.hidden_field :user_id, value: current_user.id %>

        <div class="actions" id="new-plant-data-entry">
          <%= form.submit "Save", class: "btn btn-success btn-block" %>
        </div>

      </div>
      <div class="col">

      </div>

    </div>
  </div>

<% end %>

<br><br>
