<div class="jumbotron" id="plants-jumbotron">
  <h1 class="display-4" id="home-title">My Plants</h1>
  <%= link_to "New Garden", new_garden_path, class: "btn btn-light btn-lg", id: "new-buttons"%>
  <%= link_to "New Collection", new_collection_path, class: "btn btn-light btn-lg", id: "new-buttons"%>
  <%= link_to "New Plant", new_plant_path, class: "btn btn-light btn-lg", id: "new-buttons"%>
  <p class="lead" id="jumbotron-text">
    <em>"My garden is my most beautiful masterpiece."</em></p>
  <p id="jumbotron-text">- Claude Monet</p>
</div>
<p id="notice"><%= notice %></p>


<div class="container">
  <%= link_to "New Plant", new_plant_path, class: "btn btn-info btn-lg btn-block", id: "new-garden-button"%>
  <div class="card-deck" id="garden-cards">
    <% @plants.each do |plant| %>
      <div class="col-4">
        <div class="card" id="garden-cards">
          <%= image_tag(plant.image.url, class: "card-img-top", alt: "Card image cap") %>
          <div class="card-body">
            <h5 class="card-title"><%= plant.latin_name %></h5>
          </div>
          <%= link_to 'View', plant, class: "btn btn-info" %>
        </div>
      </div>
    <% end %>
  </div>

  <br>

</div>
