<div class="container" id="show">

  <h1 class="section-heading"><%= @garden.name %></h1>
  <h6 id="garden-description">
    <em><%= @garden.description %></em>
  </h6>

  <%= link_to 'Edit Garden', edit_garden_path(@garden), class: "btn btn-info", id: "garden-btn" %>

<div class="row">
  <div class="col">
    <h4 class="section-heading">Plants</h4>
    <%= link_to "Add a Plant", new_plant_path, class: "btn btn-info btn-sm", id: "garden-new-plant-button" %>
  </div>
  <div class="col-6">
    <%= image_tag(@garden.image.url, class: "card-img-top", id: "garden-show-image", alt: "Card image cap") %>
    <%= link_to 'Delete Garden', @garden, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", id: "garden-btn" %>
  </div>
  <div class="col">

  </div>
</div>

</div>












</div>
<br>
<br>
