<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @garden.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @garden.bio %>
</p>

<p>
  <strong>City:</strong>
  <%= @garden.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @garden.state %>
</p>

<%= link_to 'Edit', edit_garden_path(@garden) %> |
<%= link_to 'Back', gardens_path %>
